/* App.css */


body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}


.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}


form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


input, select, button {
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}


button {
  background-color: #0056b3;  /* Fondo azul para los botones */
  color: white;               /* Texto blanco para los botones */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 15px;
  font-size: 16px;
}


button:hover {
  background-color: #0056b3;  /* Fondo azul más oscuro en el hover */
}


ul {
  list-style: none;
  padding: 0;
}


li {
  background-color: #f8f9fa;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ced4da;
}


li span {
  flex-grow: 1;
}


button.delete {
  background-color: #dc3545;  /* Fondo rojo para el botón de eliminar */
  color: white;               /* Texto blanco para el botón de eliminar */
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


button.delete:hover {
  background-color: #c82333;  /* Fondo rojo más oscuro en el hover */
}


.filter {
  margin-bottom: 20px;
  text-align: center;
}


select {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
