:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  color: #ffffff;
}


h1 {
  text-align: center;
  margin-top: 20px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}


input, textarea, select {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
