:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


}

*{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: green;
  background: linear-gradient(to right, #f0ece9, white)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-weight: bold;
}

.card {
  height: 100px;
  margin: 1%
}